<!DOCTYPE HTML>
<html>
	<body>
		<h1>My Body Clock</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Biological_clock_human.svg/1200px-Biological_clock_human.svg.png" />
    <p></p>
	</body>
</html>
